In [3]:
3
type(3+5)
a='4+5'

In [8]:
a=1.45
b=a*5
b

7.25

In [9]:
a="10"
b="11"
int(a)+int(b)

21

In [20]:
a="10.32"
type(float(a))

float

In [23]:
a=[2,3,2]
type(a)

list

In [32]:
a=[2,31,4]
a=[2,32,[1,"2",3],4]

In [33]:
type(a[2])

list

In [41]:
a=[1,2,3,5]
b=[6,7,8,9]
all=[a,b]

for i in all:
    print(i,3)

[1, 2, 3, 5] 3
[6, 7, 8, 9] 3

for i in all:
      print(i)

In [46]:
a=["ali","veli","ayse","bora","bedir"]

a[1:5]=["v","a","b1","b2"]
a

['ali', 'v', 'a', 'b1', 'b2']

In [55]:
a+=["b3"]
a
del a[0]

In [56]:
a

['v', 'a', 'b1', 'b2', 'b3', 'b3', 'b3', 'b3', 'b3', 'b3', 'b3', 'b3']

In [57]:
dir(a)  #show that list's functions

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [59]:
a.insert(0,"deneme") #if you wanna insert to any value for particular index,you must use insert function.
a

['deneme',
 'deneme',
 'v',
 'a',
 'b1',
 'b2',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3']

In [61]:
a.append("lastofthing") #append function provides to insert last of list. you cant indicate particular index in the list.
a

['deneme',
 'deneme',
 'v',
 'a',
 'b1',
 'b2',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3',
 'lastofthing',
 'lastofthing']

In [62]:
a.insert(len(a),"berkasu") # this function can provide to insert an element last of list dynamically with len function.
a

['deneme',
 'deneme',
 'v',
 'a',
 'b1',
 'b2',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3',
 'lastofthing',
 'lastofthing',
 'berkasu']

In [64]:
a.pop(0) # this function provides to delete an element whichever index of list.
a

['v',
 'a',
 'b1',
 'b2',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3',
 'lastofthing',
 'lastofthing',
 'berkasu']

In [65]:
a.pop(len(a)-1)
a

['v',
 'a',
 'b1',
 'b2',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3',
 'b3',
 'lastofthing',
 'lastofthing']

In [70]:
#tuple can't be changed in list.
t=(2,42,"1")
t1=list(t)
print(t)

(2, 42, '1')

In [72]:
a=("dsds",)
type(a)

tuple

In [77]:
"sasa"+str(2)

'sasa2'

In [81]:
"I can add integers, like " + str(5) + " to strings."


"I said " + "Hey " * 2 + "Hey!"

True+False

1

In [87]:
list=[1,323,5,5]
myset=set(list)
myset
dir(myset)
myset.add(14232)
myset

{1, 5, 323, 14232}

In [89]:
s=["Hey","jude","don't", "say", "good" "by"]

myset=set(s)
myset

{'Hey', "don't", 'goodby', 'jude', 'say'}

In [90]:
myset.add("take a sad song")
myset

{'Hey', "don't", 'goodby', 'jude', 'say', 'take a sad song'}

In [92]:
set1=set([1,3,4])
set2=set([3,1,7])
set2.difference(set1)

{7}

In [97]:
set1=set([1,3,4])
set2=set([3,1,7])
newset=set2.union(set1)
newset

{1, 3, 4, 7}

In [99]:
a = "Merhabalar!"

a[0:3]

'Mer'

In [109]:
def squarecalc(x,y=1):
    print("number that enter is:" +str(x)+" result: "+str(x**y)+"'dir")

squarecalc(12,2)

number that enter is:12 result: 144'dir

In [143]:
x=""
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [161]:
x=""

def insert_new_elemant_to_list(y=""):
    global x
    x+=y
    print(x)
insert_new_elemant_to_list("4,32,2")

4,32,2

In [165]:
x="" #ilk basta stringti metod içinde global tanımlayınca metod içinde değerini değiştirmiş oluyorum.
print(type(x))
def insert_new_elemant_to_list(y=[]):
    global x
    x=y
    print(type(x))
insert_new_elemant_to_list([4,32,2])

<class 'str'>
<class 'list'>

In [5]:
limit=5000
salary=input("enter your salary")

def find_relief(limit,salary):
    if salary>=limit:
        print("your salary is good. government wont do relief to you!")
    elif salary<limit:
            print("goverment will pay!!")
            
find_relief(limit,int(salary))

enter your salary 6000

your salary is good. government wont do relief to you!

In [1]:

salary=input("enter your salary")

enter your salary 121

In [6]:
a=10

def pure(a,b):
    return a*b
impure(12,2)

24

In [11]:
a=10
def impure(b):
        return a*b
impure(3)

30

In [13]:
def vectoral_product():
    a=[1,2,3,4]
    b=[1,2,3,4]
    ab=[]
    
    for i in range(0,len(a)):
        ab.append(a[i]* b[i])
    
    print(ab)
vectoral_product()

[1, 4, 9, 16]

In [15]:
import numpy as np
a=np.array([1,2,3,4])
b=np.array([1,2,3,4])
a*b

array([ 1,  4,  9, 16])

In [18]:
add = lambda x, y : x + y 
  
print (add(2, 3))

5

In [19]:
us_alma=lambda x,y:x**y
print(us_alma(2,3))

8

In [27]:
lists=[1,2,3,4]

def multipies(a):
    return a*2
    
map(multipies,lists)

In [34]:
def multiply2(x):
  return x * 2
    
list(map(multiply2, [1, 2, 3, 4]))  # Output

[2, 4, 6, 8]

In [41]:
x=lambda x:x+5
print(x(10))

15

In [39]:
v=[1,2,3,4,5,6,7]

list(map(lambda x:x%2==0,v))

[False, True, False, True, False, True, False]

lists=[1,2,3,4,5]
list(map(lambda x:x*2,lists ))

In [31]:
map(lambda x:x*2,[1,2,3,4])

In [ ]:
a=input("enter first number")
b=input("enter second number")

try:
    print(int(a)/int(b))
except ZeroDivisionError:
    print("upps!you musnt enter zero")

In [ ]:
a=input("enter first number")
b=input("enter second number")

try:
    print(int(a)/int(b))
except ZeroDivisionError:
    print("upps!you musnt enter zero")

In [ ]:
a=input("enter first number")
print(a)

In [48]:
def carpma(a):
    return a+2

list(map(carpma,[1,2,32,3]))

[3, 4, 34, 5]

In [49]:
list(map(lambda x:x+2,[1,2,32]))

[3, 4, 34]

In [33]:
list_a=[1,2,3,4,5]
list_b=[1,2,3,4,5]
list(map(lambda x,y:x+y,list_a,list_b))

[2, 4, 6, 8, 10]

In [ ]:
a=input("enter first number")
b="5"

try:
    print(int(a)/(b))
except TypeError:
    print("upps!you must enter number")